In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('full_data.csv')

In [6]:
cpi = [296.2, 304.6, 316.3, 315.2, 320.4, 330.5, 337.5, 342.5, 348.3, 348.9, 353.4, 361.0, 369.8]
cpi_adj = [x/369.8 for x in cpi]

In [10]:
years = [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
infl_dict = dict(zip(years, cpi_adj))

data['real_gprice']=0
for k in infl_dict:
    data.loc[data.year == k, 'real_gprice'] = data['gprice'].map(lambda x: x*infl_dict[k])
    
data.head()

,Total Population,Area Total:,Area (Land),Area (Water),Total Population:,Less than 5 Years,Less than 10 Years,Less than 15 Years,Less than 18 Years,Less than 25 Years,...,Native Born,Foreign Born:,Naturalized Citizen,Not a Citizen,city,year,month,trips,gprice,real_gprice
0,"575,187",89.63,0.54,0.46,"575,187",0.063,0.109,0.159,0.192,0.337,...,0.728,0.272,0.12,0.153,Boston,2006,JAN06,31434943.0,2.360,1.890297
1,"575,187",89.63,0.54,0.46,"575,187",0.063,0.109,0.159,0.192,0.337,...,0.728,0.272,0.12,0.153,Boston,2006,FEB06,31794498.0,2.724,2.181852
2,"575,187",89.63,0.54,0.46,"575,187",0.063,0.109,0.159,0.192,0.337,...,0.728,0.272,0.12,0.153,Boston,2006,MAR06,32069935.0,2.989,2.394110
3,"575,187",89.63,0.54,0.46,"575,187",0.063,0.109,0.159,0.192,0.337,...,0.728,0.272,0.12,0.153,Boston,2006,APR06,33319860.0,3.028,2.425348
4,"575,187",89.63,0.54,0.46,"575,187",0.063,0.109,0.159,0.192,0.337,...,0.728,0.272,0.12,0.153,Boston,2006,MAY06,34137751.0,3.061,2.451780

In [11]:
data.to_csv('full_data_inflation.csv', index=False)